.grass {
    background: linear-gradient(0deg, rgb(161, 212, 134) 0%, rgba(206, 229, 202, 1) 100%);
    border: 1px solid rgb(161, 212, 134);
}

.poison {
    background: linear-gradient(0deg, rgba(148, 117, 163, 1) 0%, rgba(212, 196, 219, 1) 100%);
    border: 1px solid rgb(148, 117, 163);
}

.fire {
    background: linear-gradient(0deg, rgba(219, 122, 118, 1) 0%, rgba(246, 195, 193, 1) 100%);
    border: 1px solid rgba(219, 122, 118, 1);
}

.normal {
    background: linear-gradient(0deg, #8c8e90 0%, #b5bbbd 100%);
    border: 1px solid black;
}

.ground {
    background: linear-gradient(0deg, rgba(171, 152, 66, 1) 0%, rgba(247, 222, 63, 1) 100%);
    border: 1px solid rgba(171, 152, 66, 1);
}

.flying {
    background: linear-gradient(0deg, rgba(189, 185, 184, 1) 0%, rgba(61, 199, 239, 1) 100%);
    border: 1px solid rgba(189, 185, 184, 1);
}

.bug {
    background: linear-gradient(0deg, rgb(134, 186, 106) 0%, rgb(162, 203, 154) 100%);
    border: 1px solid rgb(161, 212, 134);
}

.electric {
    background: linear-gradient(0deg, rgba(240, 210, 119, 1) 0%, rgba(255, 239, 193, 1) 100%);
    border: 1px solid rgb(239, 210, 117);
}

.water {
    background: linear-gradient(0deg, rgb(46, 140, 167) 0%, rgba(61, 199, 239, 1) 100%);
    border: 1px solid rgb(46, 140, 167);
}

.fairy {
    background: linear-gradient(0deg, rgba(222, 180, 193, 1) 0%, rgba(247, 207, 211, 1) 100%);
    border: 1px solid rgba(222, 180, 193, 1);
}

.fighting {
    background: linear-gradient(0deg, rgb(213, 103, 35) 0%, rgb(248, 152, 88) 100%);
    border: 1px solid rgb(213, 103, 35);
}

.psychic {
    background: linear-gradient(0deg, rgb(243, 102, 185) 0%, rgb(239, 163, 217) 100%);
    border: 1px solid rgb(243, 102, 185);

}

.rock {

    background: linear-gradient(0deg, rgb(114, 100, 29) 0%, rgb(231, 211, 112) 100%);
    border: 1px solid rgb(114, 100, 29);
}

.steel {

    background: linear-gradient(0deg, rgb(158, 183, 184) 0%, rgb(207, 224, 224) 100%);
    border: 1px solid rgb(158, 183, 184);
}

.ice {
    background: linear-gradient(0deg, rgb(81, 196, 231) 0%, rgb(163, 231, 252) 100%);
    border: 1px solid rgb(81, 196, 231);
}

.ghost {

    background: linear-gradient(0deg, rgb(123, 98, 163) 0%, rgb(206, 182, 243) 100%);
    border: 1px solid rgb(123, 98, 163);
}

.dragon {
    background: linear-gradient(0deg, rgba(241, 110, 87, 1) 0%, rgba(83, 164, 207, 1) 100%);
    border: 1px solid rgba(241, 110, 87, 1);
}

.dark {
    background: linear-gradient(0deg, rgb(112, 112, 112) 0%, rgb(163, 163, 163) 100%);
    border: 1px solid rgb(112, 112, 112);
    color: white;
}

.unknown {
    background: red;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    color: black;
    text-shadow: white 0 0 4px;
}

.shadow {
    background: linear-gradient(0deg, rgb(69, 69, 69) 0%, rgb(108, 108, 108) 100%);
    border: 1px solid rgb(69, 69, 69);
    color: white;
}

.all {
    background: #fff8cd;
    border: 1px solid rgb(69, 69, 69);
}

.pokemonsContainerWrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}

.loadMore {
    background-color: blue;
    color: white;
}

.pokeCardWrapper {
    padding: 25px;
    text-align: center;
}

.types {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.type {
    text-align: center;
    border-radius: 7px;
    padding: 0px 10px 3px 10px;
    margin: 2px 5px;
}

.pokeDeskWrapper {
    text-align: center;
}

.butLoadMore {
    padding: 10px;
}

.pokemonInfoCard img {
    width: 100%;
    height: 30vh;
}

.butLoadMore {
    text-align: center;
}

.butLoadMore Button {
    min-width: 35vw;
}

.antdCardWrapper {
    width: 240px
}

.pokemonInfoCard {
    font-size: 17px;
    min-width: 30vw;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 154, 0.9431818181818182) 100%);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    position: fixed;
}

.pokeInfWrapper {
    display: flex;
    justify-content: center;
}

.pokemonNameInfo {
    font-size: 20px;
    font-weight: bold;
}

.pokemonInfoCard table {
    width: 80%;
    background: #fff8cd;
    border-spacing: 0px;
    margin: 5px;
    border-top: 1px solid black;
}

td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid black;
    border-left: none;
    border-top: none;
}

td:first-child {
    border-left: 1px solid black;
}

th:first-child {
    border-top: 1px solid black;
}

@media screen and (max-width: 670px) and (min-width: 300px) {
    .antdCardWrapper {
        width: 120px;
        text-align: center;
    }

    .types {
        flex-direction: column;
    }

    .cardMetaTitle title {
        font-size: 10px;
    }

    .pokemonInfoCard {
        position: fixed;
    }

    .pokemonsContainerWrapper {
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .pokemonInfoCard img {
        width: 100%;
        height: 15vh;
    }

    .pokemonInfoCard {
        font-size: 12px;
        width: 140px;
    }

    .pokemonInfoCard table {
        width: 90%;
    }

    .pokemonNameInfo {
        font-size: 15px;
    }

}

@media screen and (max-width: 1020px) and (min-width: 671px) {
    .pokemonInfoCard {
        font-size: 16px;
        width: 160px;
    }

    .pokemonNameInfo {
        font-size: 27px;
        padding-left: 6px;
        text-align: center;
    }

    .pokemonInfoCard img {
        /*height: 25vh;*/
    }

    .pokemonInfoCard table {
        width: 85%;
        background: #fff8cd;
        border-spacing: 0px;
        margin: 5px;
        border-top: 1px solid black;
    }

    .pokemonInfoCard {
        padding-bottom: 10px;
    }

    .ant-row {
        justify-content: center;
    }
    .pokeListInfo{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/*@media (max-width: 1450px) and (min-width: 1021px) {*/

/*}*/